body{
    background-color: #09070769;
    font-family: Arial, sans-serif;
    margin:0px;
    padding: 40px;  
}

#main-header{
    text-align: center;
    font-size: 36px;
    color: #3e4b68;
    margin-bottom: 20px;
}
h1{
    color: #3e4b68;
    font-size: 36px;
    margin-bottom: 20px;
}
h2{
    color: #555;
    font-size: 28px;
    margin-bottom: 15px;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #faf2f2;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
p{
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}
.content-section{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.content-section h2{
    margin-top: 0;
    text-align: center;
}
ol{
    margin-left: 20px;
    margin-bottom: 20px;
}
#pexels-image {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;   
}
#contact-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}
#registration-form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#main-footer{
    text-align: center;
    font-size: 14px;
    color: #f8eded;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #a49b9b69;
    border-top: 1px solid #eaeaea;

}